<div ng-controller='OrderController'>
	<h5>Orders   |   <a href="#/">Customers</a></h5>
	<div class='container-fluid'>
		<h3>Add a new order</h3>
		<form class='form-horizontal'>
			<div class="form-group">
				<div class="col-sm-12">
					<label class='col-sm-2'>Customer</label>
					<select class='form-control' name='customer' ng-model='new_order.customer'>
						<option ng-repeat="customer in customers | orderBy: 'name'">{{customer.name}}</option>
					</select>	
				</div>
			</div>
			<div class='form-group'>
				<div class='col-sm-12'>
					<label class='col-sm-2'>Order</label>
					<select class='form-control' id='quantity' name='quantity' ng-model='new_order.quantity'>
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
						<option>6</option>
						<option>7</option>
						<option>8</option>
						<option>9</option>
						<option>10</option>
					</select>
					<select class='form-control' id='product' name='product' ng-model='new_order.product_name'>
						<option>Nike Shoes</option>
						<option>Black Belt</option>
						<option>Ice Cream</option>
						<option>Candy</option>
					</select>
				</div>
			</div>
			<button type="submit" class="btn btn-primary" ng-click='addOrder()'>Order</button>
		</form>
		<h3 ng-show="errors() == true" class='error'>Order form must be filled in!</h3>
	</div>
	<div class="col-sm-2" id='search'>
		<input type='text' class='form-control' placeholder='search orders' ng-model="filter_orders">
	</div>
	<table class='table table-hover'>
		<thead>
			<th>Customer Name</th>
			<th>Product</th>
			<th>Quantity</th>
			<th>Date</th>
		</thead>
		<tbody>
			<tr ng-repeat="order in orders | filter: filter_orders | orderBy: 'date'">
				<td ng-bind='order.customer'></td>
				<td ng-bind='order.product_name'></td>
				<td ng-bind='order.quantity'></td>
				<td ng-bind='order.date | date: "longDate"'></td>
			</tr>
		</tbody>
	</table>		
</div>